body,div,header,nav,ul{
    margin:0;
    padding:0;
    border:0;
}
body{
    width:100%;
    background: #6B7091;
    font-family: Arial;
}
.box{
    margin: 3em 2.9em 0 2.75em;
    height:92%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 30px #333;
}

header{
    display: flex;
    padding:2.15em 1.3em 2.15em 1.8em;
    justify-content: space-between;
    font-size:0.9em;
}
.left-logo{
    width:0.9em;
    height:0.9em;
    border:3px solid #898A8E;
    border-radius:12px;
}
ul {
    display: flex;
    width:22em;
    list-style: none;
    justify-content: space-around;
}
ul li a{
    margin:10px;
    text-decoration: none;
    color:#9FA0A2;
}

main{
    height:100%;
    display: flex;
    margin-top:-4.125em;
    align-items: center;
    justify-content: center;
    background: no-repeat center/50% url(../images/f3f071a918f78c25193981e009fcf1e5.png);
}
.login-block{
    width:18.175em;
    background-color: #fff;
}
.input-block{
    width:16em;
    border:6px solid #F1F1F2;
    border-radius:6px;
    padding:0.3em 0.7em;
}
.input-block input{
    display: block;
    width:100%;
    height:2.3em;
    border:0;
    font-size:1.2em;
    outline: none;
    transition:.5s ease;
    text-indent: 0.5em;
}
.input-block .user-id{
    border-bottom: 1px solid #D5D5D5;
}
.input-block input::placeholder{
    color:#CAC9C9;
}
.submit{
    width: 100%;
    height:2.5em;
    margin-top:0.9em;
    background-color: #8B97E1;
    border:1px solid #C1C7EF;
    border-radius: 3px;
    color:#fff;
    font-size:1.2em;
    transition:.5s ease;
}
.links{
    width:100%;
    margin-top:0.8em;
    text-align: center;
}
.links a{
    display: inline-block;
    margin-right:0.7em;
    font-size:0.9em;
    color:#C2C1C1;
}

.submit:hover{
    cursor:pointer;
    background-color:#6B7091;
}
a:hover{
    cursor:pointer;
    color:#aaa;
}
.input-block input:focus::placeholder{color:transparent;}
.input-block input:focus{
    border-bottom:2px solid #8B97E1;
}

